<div class="wrapper">
    <div class="btn">
        <button mat-raised-button color="accent" routerLink="/owner/hotelRegister"> New Hotel Register</button><br><br>
    <button mat-raised-button color="accent" (click)="viewHotels()"> View My Hotels</button>
    </div>
    
    
   
    <div *ngIf="showData" class="hotelCard">
             
        <mat-card *ngFor="let hotelData of hotelsByOwner" class="example-card">
          <mat-card-header>
            <div mat-card-avatar>
              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
  
            </div>
            <mat-card-title> {{hotelData.hotelName}}</mat-card-title>
            
          </mat-card-header>
          <img mat-card-image src={{hotelData.image}} alt="Photo">
          <mat-card-content>
            <p>
              ownerName: {{hotelData.ownerName}}<br>
              owner Mob No: {{hotelData.mob}} <br>
               hotel Name: {{hotelData.hotelName}} <br>
              hotelAddress: {{hotelData.hotelAddress}} <br>
             hotel Menu :  {{hotelData.hotelMenu}} <br>
             hotel Mob No: {{hotelData.hotelMob}} <br>
             
            </p>
           
            <mat-icon (click)="edit(hotelData.id)">edit</mat-icon>
            <mat-icon (click)="delete(hotelData.id)">delete</mat-icon>
          </mat-card-content>
         
        </mat-card>
  </div>
</div>