<div class="backgrondImg">
    

    <div class="form-container">
        <form [formGroup]="signInForm">
    
        <div class="username">
            <mat-form-field>
            <mat-label>User Name</mat-label>
            <input class="input"   type="text" matInput formControlName="fullName">
            <mat-hint *ngIf="!signInForm.get('fullName')?.touched">
            Please enter your User Name
            </mat-hint>
            <mat-error *ngIf="signInForm.get('fullName')?.errors?.['required']
             && signInForm.get('fullName')?.touched">
             User Name is Required
            </mat-error>
        </mat-form-field>
    
        <br>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input type="text" matInput formControlName="password">
        </mat-form-field>
    
        <mat-error *ngIf="notValidUser">Invalid user name or password></mat-error>
    </div>
    
        <br>
        <button mat-raised-button color="accent" (click)="submit()">Submit</button>
        <br> <br>
        <a routerLink="/signUp">Create New Account.?</a>
    
    </form>
    </div>
    </div>