
.backgrondImg{
   
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


.form-container{
    height: 500px;
    margin: auto;
    
    width: 500px;
    text-align: center;
    position: relative;
    top: 30px;
}

.username{
    text-align: center;
    margin-top:5px;
    top:30px;
    position: relative;
    padding:20px;
    
}
