<div class="div-container">
    <div class="main">
        <button routerLink="/login" class="btn">Login</button>
        <button (click)="signUpCompo()" class="btn"> Sign Up</button>
        <button routerLink="/dataBinding" class="btn"> Data binding</button>
        <button (click)="directives()" class="btn">Directives</button>
        <button routerLink="lifecycleHooks" class="btn">lifecycleHooks</button>
        <button routerLink="parent" class="btn">Parent</button>
        <button  (click)="purePipes()"class="btn"> pure pipe</button>
        <button routerLink="/templateForm" class="btn"> Template driven</button>
        <button routerLink="viewchild1" class="btn">view child</button>
        <button routerLink="/admin/adminlanding" class="btn"> Admin </button>
        <button (click)="adminsignin()"> Admin signin</button>


        </div>

        <br><br>

        <div *ngIf="pipe">
            {{name |titlecase}}
            {{date1| date:'medium'}}
        </div>
</div>