.main{
    background-image: url('/assets/images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
   
   
  .btn{
  text-align: center;
  margin-top:10px;
  top:30px;
  position: relative;
  padding:20px;
 }